 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-18 text-center">
                    <p> Participações em eventos como expositor
                     </div>
<div class="col-lg-12 text-center">
**5º lugar** com o trabalho **O desenvolvimento de jogos digitais como forma de valorização de elementos culturais e históricos do município de Ceará-Mirim** no II Prêmio Empreendedorismo Inovador do IFRN  que ocorreu na III SECITEX- Semana de Ciência, Tecnologia e Extensão do Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte(2017).

**V EXPOTEC APODI** (2017), como expositor na modalidade poster com projeto de pesquisa **JOGOS DIGITAIS COMO FONTE DE CONHECIMENTO DA CULTURA BUDISTA: EM FOCO O NIRVANA**. 

**II semana de informática do campus Nova Cruz** (2018), como expositor na modalidade oral a cerca do curso de **jogos digitais e apresentar o JOGO "O ELO PERDIDO".**

**I EXPOTEC CM** (2017), como expositor em apresentação na forma teatral do projeto de extensão **"Teatro e expressão" com a peça o "O auto do Julgamento"**
.</p>
                
  </div>
         <div class="col-lg-18 text-center">
                    <p>Projetos
                     
</div>
<div class="col-lg-12 text-center">
 Projeto de extensão Criação do Núcleo de Arte do Campus Ceará-Mirim - 2015.

 Projeto de extensão Teatro e expressão - 2017.
 
 Projeto de extensão **Empreendedorismo S2S** Gameficação de alunos para alunos - 2018.
 
 Projeto de Pesquisa **JOGOS DIGITAIS COMO FONTE DE CONHECIMENTO DA CULTURA BUDISTA** EM FOCO O NIRVANA - 2017/2018.
  
 Projeto de Pesquisa INVESTIGAÇÃO AMOSTRAL SOBRE DST’S NO MUNICÍPIO DE CEARÁ-MIRIM - 2017/2018.
 
 Projeto de Pesquisa **PROTECTING MY MOUTH** UMA FERRAMENTA LÚDICA PARA O AUXÍLIO E PREVENÇÃO À PATOLOGIAS BUCAIS - 2017/2018. </p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
